<!DOCTYPE html>
<html>

<style type="text/css">

	#form-container {

		margin-left: 50px;
		margin-right: 50px;
		border-width: 1px;
		border-style: solid;
		width: 250px;
		float: left;
		justify-content: center;
	}
	
	#container {

		border-style: solid; 
		border-width: 1px; 
		margin-top: 100px;
		margin-left: 400px;
		margin-right: 100px;
	}

	body {

		font-family: 'Open Sans', sans-serif;
	}

	.input-group {

		margin-left: 15px;
		margin-right: 15px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#submit-button {

		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 10px;
	}

</style>

<head>
	<title>Jumbotail | Asset tracking Dashboard</title>
</head>

<body>

	<!-- Library for jQuery--> 
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<!--Google font-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

	<!--mapbox-->
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

	<div id="form-container">
		
		<cemter>

			<div class="input-group">
			  <span id="asset-label"><strong>Number of assets:</strong></span>
			  <br>
			  <input type="number" name="noOfAssets" id="noOfAssets" value="100" min="1" onchange="fetchNAssets()">
			</div>

			<br>

			<div class="input-group">
			  <span id="asset-label"><strong>Asset type:</strong></span>
			  <br>
			  <select class="custom-select" name="assetType" id="asset" onchange="fetchTruckDetails()">
			  	<option></option>
			    <option value="Truck">Truck</option>
			    <option value="Salesperson">Salesperson</option>
			  </select>
			</div>

			<br>

			<div class="input-group">
			  <span id="asset-label"><strong>Asset ID:</strong></span>
			  <br>
			  <select class="custom-select" name="assetId" id="assetId">
			  </select>
			</div>

			<br>

			<div class="input-group">
			  <span id="asset-label"><strong>Start time:</strong></span>
			  <br>
			  <input type="datetime-local" id="startTime" name="startTime">
			</div>

			<br>
		
			<div class="input-group">
			  <span id="asset-label"><strong>End time:</strong></span>
			  <br>
			  <input type="datetime-local" id="endTime" name="endTime" onchange="validateTimes()">
			  <p><span id="time-message"></span></p>
			</div>

			<br> 

			<button class = "btn btn-primary" id="submit-button" onclick="fetchAssetLocations()">Submit</button>

		</cemter>

	</div>

	<div id="container">

		<center>

			<h4>Asset dashboard</h4>

			<div id='map' style='width: 600px; height: 550px;'></div>

				<script>

				mapboxgl.accessToken = 'pk.eyJ1IjoibmlzaGFudGg5OCIsImEiOiJja2x1ejBtbzIwaTVjMm5uNnRnczdkNWYzIn0.2FHYECnHm5VyvCpCKJ-01w';
				
				var map = new mapboxgl.Map({
				
				container: 'map', // container ID
				
				style: 'mapbox://styles/mapbox/streets-v11', // style URL
				
				center: [77.1025, 28.7041],

        		zoom: 10 // starting zoom
				
				});

			</script>

		</center>

	</div>

</body>

<script type="text/javascript">

	// Javascript here

	var assetLocations; 
	var assetId; 

	var currentMarkers=[];
	var currentLatLongs = [];

	var assetMapping = new Map(); 

	// Test JS methods here 

	fetchNAssets();

	// Method to round a number to 5 decimal places 

	function round5(numberString) {

		return parseFloat(numberString).toFixed(5); 
	}

	// Method to convert date to required format 

	function format(dateString) {

		var date = new Date(dateString);
		var newDate = date.getFullYear() + '-';

		if(date.getMonth() < 9) {

			newDate += '0';

		} 

		newDate += (date.getMonth() + 1) + '-' + date.getDate() + 'T'; 

		if(date.getHours() < 10) {

			newDate += '0'; 
		}

		newDate += date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();  
		return newDate; 
	}

	// Utility function to get previous day 

	function previousDay(dateString) {

		var date = new Date(dateString);
		var newDate = date.getFullYear() + '-';

		if(date.getMonth() < 9) {

			newDate += "0"; 

		} 

		newDate += (date.getMonth() + 1) + '-' + (date.getDate() - 1) + 'T'; 

		if(date.getHours() < 10) {

			newDate += '0'; 
		}

		newDate += date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();  
		return newDate; 
	}

	// Fetch N assets 

	function fetchNAssets() {

		var noOfAssets = $('#noOfAssets').val();

		$.get("{% url 'get_n_assets' %}", {noOfAssets: noOfAssets}, 

			function(data) {

				assetsLocations = data['assetsLocations'];

				var assetMap = data['assetMap']; 

				//delete existing markers on map and empty the array holding those markers
				if(currentMarkers!=null){
					for(var i=currentMarkers.length-1 ; i>=0 ; i-- )
						currentMarkers[i].remove();
				}
				currentMarkers=[]
				currentLatLongs=[]
				
				//add markers to map
				var len_obj = Object.keys(assetsLocations).length
				for(var i=0;i<len_obj;i++){

					var assetRegistrationId = assetsLocations[i].assetRegistrationId; 

					// Set DOM elements here to add to marker pop-up 

					var popupdiv = document.createElement('div'); 
					var btn = document.createElement('button'); 
					var txt = document.createElement('p'); 

					//console.log(assetMap['PERVY60VU6'].name);

					if(assetRegistrationId.startsWith("PER")) {

						txt.innerHTML = '<b>' + assetMap[assetRegistrationId].name + '</b><br>' + assetRegistrationId + '<br>' + round5(assetsLocations[i].longitude) + ', ' + 
						round5(assetsLocations[i].latitude) + '<br>';	

					} else {

						txt.innerHTML = '<b>' + assetMap[assetRegistrationId].vehicleName +'</b><br>' + assetMap[assetRegistrationId].company + '<br>' +  assetRegistrationId + '<br>' + round5(assetsLocations[i].longitude) + ', ' 
							 + round5(assetsLocations[i].latitude) + '<br>';
					}
					
					btn.innerHTML = 'Past 24 hrs'; 

					btn.addEventListener("click", () => {

						fetchLocations24Hrs(assetRegistrationId); 
					});

					popupdiv.appendChild(txt); 
					popupdiv.appendChild(btn); 

					// Set up marker and pop-up

					var marker = new mapboxgl.Marker()
        			.setLngLat([assetsLocations[i].longitude, assetsLocations[i].latitude])
        			.setPopup(new mapboxgl.Popup().setDOMContent(popupdiv))
					.addTo(map); 
	
					//all the markers are noted

					currentMarkers.push(marker);
					currentLatLongs.push([assetsLocations[i].longitude, assetsLocations[i].latitude]);
					
				}

				//for fit&zoom all markers to map 
				if(currentLatLongs.length>1){
					var bounds = new mapboxgl.LngLatBounds();
					for(var i=0; currentLatLongs.length>0 && i<currentLatLongs.length; i++)
						bounds.extend(currentLatLongs[i]); 

					map.fitBounds(bounds, {padding :50});
				}
				
				console.log(assetsLocations); 
			}
		);

	}

	// Fetch asset details

	function fetchAssetLocations() {

		assetId = $('#assetId').val(); 
		var startTime = $('#startTime').val(); 
		var endTime = $('#endTime').val(); 

		$.get("{% url 'get_asset_locations' %}", {assetId: assetId, startTime: startTime, endTime: endTime}, 

			function(data) {

				assetLocations = data['assetLocations']; 
				
				//delete existing markers on map and empty the array holding those markers
				if(currentMarkers!=null){
					for(var i=currentMarkers.length-1 ; i>=0 ; i-- )
						currentMarkers[i].remove();
				}
				currentMarkers=[];
				currentLatLongs=[];
				
				//add markers to map
				var len_obj = Object.keys(assetLocations).length
				for(var i=0;i<len_obj;i++){
					
					var assetRegistrationId = assetLocations[i].assetId; 
					
					// Set DOM elements here to add to marker pop-up 

					var popupdiv = document.createElement('div'); 
					//var btn = document.createElement('button'); 
					var txt = document.createElement('p'); 

					txt.innerHTML = round5(assetLocations[i].longitude) + ', ' + round5(assetLocations[i].latitude) + '<br>' + assetLocations[i].time;
					//btn.innerHTML = 'Past 24 hrs'; 

					{% comment %} btn.addEventListener("click", () => {

						fetchLocations24Hrs(assetRegistrationId); 
					}) {% endcomment %}

					popupdiv.appendChild(txt); 
					//popupdiv.appendChild(btn); 

					// Set up marker and pop-up 

					var marker = new mapboxgl.Marker()
        			.setLngLat([assetLocations[i].longitude, assetLocations[i].latitude])
        			.setPopup(new mapboxgl.Popup().setDOMContent(popupdiv))
					.addTo(map); 
					
					//all the markers are noted
					
					currentMarkers.push(marker);
					currentLatLongs.push([assetLocations[i].longitude, assetLocations[i].latitude]);

					
				}
				//for fit&zoom all markers to map 
				var bounds = new mapboxgl.LngLatBounds();
				if(currentLatLongs.length>1){
					for(var i=0; i<currentLatLongs.length; i++)
						bounds.extend(currentLatLongs[i]); 

					map.fitBounds(bounds, {padding :50}); 
				}

				console.log(assetLocations); 
			}
		);
	}

	// Method to fetch all the truck details 

	function fetchTruckDetails() {

		var assetType = $('#asset').val();

		console.log(assetType); 

		$.get("{% url 'get_asset_IDs' %}", {assetType: assetType},

			function(data) {

				console.log(data['assetIds']); 

				var assetIds = data['assetIds']; 

				// Set the drop down values 

				var dropdown = $('#assetId'); 

				// Clear the dropdown list

				dropdown.empty(); 

				// Add to dropdown 

				$.each(assetIds, function(assetId, assetId) {

					dropdown.append(

						$('<option></option>').val(assetId).html(assetId)

					); 

					console.log(assetId); 
				});
			}
		);
	}

	// Method to validate the timings (start time should be before end time)

	function validateTimes() {

		var startTime = $('#startTime').val();
		var endTime = $('#endTime').val(); 

		console.log(startTime, endTime); 

		$.get("{% url 'validate_time' %}", {startTime: startTime, endTime: endTime},

			function(data) {

				console.log(data['valid']); 

				var validTime = $('#time-message'); 

				if(data['valid'] == 'NO') {

					validTime.html(data['message']);
				} 
			}
		); 

	}

	// Method to fetch asset details on giving asset ID 

	function fetchAssetDetails(assetId) {

		// Marker for asset 

		$.get('asset/' + assetId, 

			function(data) {

				console.log(data['valid']); 

				if(data['valid'] == true) {

					console.log(data['asset']); 
					return data['asset']; 

				} else {

					// Handle no such asset exception
				}
			}
		);
	}

	// Method to fetch asset properties 

	function fetchAssetProperties(assetId) {

		// Marker for asset 

		var assetProperty; 

		$.get('properties/' + assetId, 

			function(data) {

				console.log(data['valid']); 

				if(data['valid'] == true) {

					assetProperty = data['asset']; 

				} else {

					// Handle no such asset exception
				}
			}
		)
		.done(function() {

			console.log('Asset property', assetProperty);
			return assetProperty;
		});
	}

	// Method to fetch all asset locations based on time filter 

	function fetchAssetLocationsByTimeInterval(startTime, endTime) {

		// Format for time is 'YYYY-MM-DDTHH:MM' 

		$.get("{% url 'get_asset_locations_by_time' %}", {startTime: startTime, endTime: endTime}, 

			function(data) {

				console.log(data['assets']); 
			}
		)
	}

	// Method to get asset locations in the past 24 hours 

	function fetchLocations24Hrs(assetId) {

		var currentDate = new Date(); 
		console.log(currentDate);
		var endTime = format(currentDate);
		var startTime = previousDay(currentDate); 

		console.log(startTime, endTime); 
		
		$.get("{% url 'get_asset_locations' %}", {assetId: assetId, startTime: startTime, endTime: endTime}, 

			function(data) {

				assetLocations = data['assetLocations']; 
				
				//delete existing markers on map and empty the array holding those markers
				if(currentMarkers!=null){
					for(var i=currentMarkers.length-1 ; i>=0 ; i-- )
						currentMarkers[i].remove();
				}
				currentMarkers=[];
				currentLatLongs=[];
				
				//add markers to map
				var len_obj = Object.keys(assetLocations).length
				for(var i=0;i<len_obj;i++){
					
					var assetRegistrationId = assetLocations[i].assetId; 
					
					// Set DOM elements here to add to marker pop-up 

					var popupdiv = document.createElement('div'); 
					//var btn = document.createElement('button'); 
					var txt = document.createElement('p'); 

					txt.innerHTML = round5(assetLocations[i].longitude) + ', ' + round5(assetLocations[i].latitude) + '<br>' + assetLocations[i].time;
					//btn.innerHTML = 'Past 24 hrs'; 

					{% comment %} btn.addEventListener("click", () => {

						fetchLocations24Hrs(assetRegistrationId); 
					}) {% endcomment %}

					popupdiv.appendChild(txt); 
					//popupdiv.appendChild(btn); 

					// Set up marker and pop-up 

					var marker = new mapboxgl.Marker()
        			.setLngLat([assetLocations[i].longitude, assetLocations[i].latitude])
        			.setPopup(new mapboxgl.Popup().setDOMContent(popupdiv))
					.addTo(map); 
					
					//all the markers are noted
					
					currentMarkers.push(marker);
					currentLatLongs.push([assetLocations[i].longitude, assetLocations[i].latitude]);

					
				}
				
				//for fit&zoom all markers to map 
				var bounds = new mapboxgl.LngLatBounds();
				if(currentLatLongs.length>1){
					for(var i=0; i<currentLatLongs.length; i++)
						bounds.extend(currentLatLongs[i]); 

					map.fitBounds(bounds, {padding :50}); 
				}

				//console.log(assetLocations); 
			}
		);
	}

</script>

</html>